h1 {
    margin:0;
    padding:0;
    font-size:22pt;
}

.experiences section {
    display:flex;
}

.experiences {
    margin-top:50px;
    margin-bottom:50px;
}

.experiences:first-of-type {
    margin-top:0;
}

.experiences:last-of-type {
    margin-bottom:0;
}

.experience-icon {
    font-size:40px;
}

section > svg {
    margin: 0 55px 0px calc(55px - 50px); /* subtract width of parent padding */
}

.article-content {
    flex: 9
}