.blog > figure > img {
    width:100%;
}

.blog-post {
    margin-bottom:50px;
}

.blog-post:last-child {
    margin-bottom:0px;
}

.blog-post h2 {
    font-size:30px;
    margin:0;
}

.blog-post a {
    text-decoration: none;
    color:inherit;
}

.blog-post a:hover {
    color:black;
}

.blog-post .gist {
    max-width:700px;
}

.blog-post img {
    max-width:100%;
}