.experience {
    margin-bottom:30px;
    padding-bottom:30px;
    border-bottom: 1px solid #bdbdbd;
}

.organisation {
    font-weight:normal;
}

.experience:last-child {
    margin-bottom:0px;
    padding-bottom:0px;
    border-bottom:0;
}

.date {
    color: #e67e22;
    font-size:12px;
}

.organisation-logo {
    float:right;
    width:100px;
    margin:0 0 30px 30px;
}