body {
    background:#eae8e7;
    color:#767270;
    padding:50px;
    font-size:13px;
}

.app {
    display:flex;
    margin: 0 auto;
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
    .app {
        max-width:80%;
    }
}

.app > .sidebar {
    flex: 4 4;
    max-width:400px;
    margin-right:50px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.app > .content {
    flex: 8 8;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width : 400px) {
    body {
        padding:0;
    }
    
    .app {
        display:block;
    }

    .app > .sidebar {
        margin-right:0px;
    }
}

.content > * {
    margin-bottom:50px;
}

.content > *:last-child {
    margin-bottom:0;
}